.date-selector .list-group-item:nth-child(2)::after {
    content: "\003e";
    margin-left: 60px;
}

.date-selector .list-group-item:nth-child(2)::before {
    content: "\003c";
    margin-right: 60px;
}

.list-group button {
    border: 1px solid rgba(0,0,0,.125);
    outline-color: white;
}

.table {
    border-bottom: 20px solid;
    border-color: #007bff;
}

.table td {
    padding: 0;
    text-align: center;
}

.table-disable {
    background-color: #e5f1ff;
}

.date-selector {
    margin-top: -26px;
    margin-left: 15px;

    transition: visibility 0.2s ease-in-out 0.2s;
}

.input-group-prepend {
    background-color: #007bff;
}

.input-group-prepend span {
    color: #f8f9fa;
    position: relative;
    top: 17%;
}

.table button {
    min-width: 100%;
    padding: .75rem .4rem;
    border-width: 0;
    background-color: transparent;
}

.table button:focus {
    background-color: #007bff;
    color: white;
}

.month-picker, .year-picker {
    position: fixed;
    top: 10%;
    left: calc(50% - 62px);

    max-height: 500px;
    overflow: scroll;

    min-width: 125px;
}

.month-picker .list-group-item:hover, .year-picker .list-group-item:hover {
    background-color: aliceblue;
}

.month-picker {
    z-index: 2;
}

.year-picker {
    z-index: 3;
}

.unable {
    opacity: 0.33;
    pointer-events: none;
}
