.list-group-item:nth-child(2)::after {
    content: "\003e";
    margin-left: 65px;
}

.list-group-item:nth-child(2)::before {
    content: "\003c";
    margin-right: 65px;
}

.table td {
    padding: .75rem .5rem;
}

.table {
    border-bottom: 20px solid;
    border-color: #007bff;
}

/*.table-responsive::after {
    content: "";
    border: 1px solid;
    !* TODO: Width should be calculate at runtime *!
    border-right-width: 20vh;
    border-left-width: 20vh;
    border-color: #007bff;
}*/
